/* COLOR PALETTE
#E27D60
#F7C9B6
#8D8741
#3E2F2F
#D44D27
#f9f5f3
*/

@import url("https://fonts.googleapis.com/css2?family=Bagel+Fat+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bagel+Fat+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

body {
    background-color: #f7c9b6;
    font-family: "Montserrat", open-sans;
    font-weight: 400;
    font-style: normal;
}

main {
    font-size: 2rem;
}

.container {
    max-width: 120rem;
    min-height: 117rem;
    margin: 4vw auto;
    background-color: #fff;
    border-radius: 9px;
    overflow: hidden;
    box-shadow: 0 2rem 6rem 0.5rem rgba(#3e2f2f, 0.2);

    display: grid;
    grid-template-areas:
        "nav nav"
        "aside content"
        "footer content";
    grid-template-rows: 10rem minmax(100rem, auto);
    grid-template-columns: 1fr 2fr;
}

.nav {
    grid-area: nav;
    background-color: #f9f5f3;
    display: flex;
    align-items: center;

    & > h1 {
        font-family: "Bagel Fat One", open-sans;
        font-weight: 300;
        font-style: normal;
        font-size: 4rem;
    }
}
.aside {
    grid-area: aside;
}
.content {
    grid-area: content;
    background-color: #f9f5f3;
}
footer {
    grid-area: footer;
    background-color: red;
}
